<!DOCTYPE html>
<html>
<head>
    <title>Verify Your Account</title>
</head>
<body>
    <p>Hi,</p>
    <p>Thank you for signing up. Please verify your account using the code below:</p>
    <h2>{{VerificationCode}}</h2>
    <p>This code will expire in 15 minutes.</p>
    <p>If you did not request this, please ignore this email.</p>
</body>
</html>